* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #e7b40d;
  background:
    fixed linear-gradient(transparent, #040404 70%),
    fixed repeating-linear-gradient(#242424 0px,
      #242424 1px,
      transparent 1px,
      transparent 40px),
    fixed repeating-linear-gradient(to right, #242424 0px,
      #242424 1px,
      transparent 1px,
      transparent 40px)#040404;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.circle {
  position: relative;
  width: 160px;
  aspect-ratio: 1;
  border-radius: 50%;
  outline: 40px solid rgb(0, 0, 0, 0.2);
  outline-offset: -20px;
}

.circle img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: inherit;
}

.circle::before,
.circle::after {
  position: absolute;
  content: '';
  inset: -40px;
  z-index: -1;
  border-radius: inherit;
  background:
    conic-gradient(#00dbde,
      #fc00ff,
      #00dbde);
  animation: rotate 3s linear infinite;
  /* animation-play-state: running; */
}

.circle::after {
  filter: blur(2rem);
  opacity: 0.7;
}

.circle:hover::before,
.circle:hover::after {
  animation-play-state: paused;
}

@keyframes rotate {
  /* from {
    rotate: 0deg;
  } */

  to {
    rotate: 360deg;
  }
}